@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: "Raleway" ;
    src: url(../fonts/Raleway-Italic-VariableFont_wght.woff);
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
}

h1 {
    font-family: "Lato";
}

h2 {
    font-family: "Lato";
}

p {
    font-family: "Raleway";
}

header {
    background-color: #782221;
    color: white;
}

address {
    background-color: #2c1d27;
    text-decoration: none;
    color: white;
}
